In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

# script sending datasets to postgresql database

# getting data from websites

url = "https://www.worldometers.info/world-population/population-by-country/"
response = requests.get(url)


if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")
    print("correct")
else:
    print(f"Error: {response.status_code}")
## finding table

table = soup.find("table", id="example2")

## extract data from table

rows = table.find_all("tr")

column_names_row = rows[0]
column_names = [col.text.strip() for col in column_names_row.find_all("th")]

data = []
for row in rows[1:]:
    row_el =row.find_all("td")
    row_data = [el.text.strip() for el in row_el]
    data.append(row_data)

population_per_country = pd.DataFrame(data, columns = column_names)

# save data to csv file
filename = "datasets/population_per_country.csv"
if os.path.exists(filename):
    os.remove(filename)

population_per_country.to_csv("datasets/population_per_country.csv", index=False)

print("web scrap script worked properly")

correct
web scrap script worked properly

In [2]:
import psycopg2
import pandas as pd
from psycopg2 import Error
import os
print('check')
import time
print('check1')
#reading csv files
folder_path ='datasets/'
csv_files = [
    'athlete_events.csv', 
    'cities.csv', 
    'countries.csv',
    'gdp.csv',
    'noc_regions.csv',
    'political_regime.csv',
    'poverty.csv',
    'healthcare_expenditure_gdp.csv',
    'obesity_adults.csv',
    'population.csv']

dataframes = {}

for file in csv_files:
    file_name = os.path.splitext(os.path.basename(file))[0]
    dataframes[file_name] = pd.read_csv(os.path.join(folder_path, file))

def change_column_name(col):
    modified_char = ""
    for char in col:
        if char.isalnum() or char in ['_']:
            modified_char += char
        else:
            modified_char +='_'
    if modified_char[0].isdigit():
        modified_char = 'a' + modified_char
    return modified_char
    

for t_n, df in dataframes.items():
    df.rename(columns = change_column_name, inplace=True)
        
success = False
#creating database

pgconn = False

def is_postgres_available():
    try:
        # Try connecting to PostgreSQL
        conn = psycopg2.connect(
            host='postgres',
            user='postgres',
            port='5432',
            password='pass'
        )
        print('connected')
        conn.close()
        return True
    except psycopg2.OperationalError:
        return False

# Wait for PostgreSQL to be available
while not is_postgres_available():
    print("PostgreSQL is not available yet. Waiting...")
    time.sleep(1)

try:
    pgconn = psycopg2.connect(
        host = 'postgres',
        user = 'postgres',
        port = '5432',
        password = 'pass')
    
    with pgconn.cursor() as pgcursor:
        pgconn.autocommit = True
        pgcursor.execute('DROP DATABASE IF EXISTS athletes_successes')
        pgcursor.execute('CREATE DATABASE athletes_successes')
        print("created athletes_successes db")
    pgconn.close()

#creating tables 
    pgconn = psycopg2.connect(
        host = 'postgres',
        user = 'postgres',
        port = '5432',
        password = 'pass',
        database = 'athletes_successes')

    pgcursor = pgconn.cursor()
    
    for table_name, df in dataframes.items():
        columns = []
        if (table_name =='poverty') or (table_name =='population'):
            for column, dtype in df.dtypes.items():
                sql_type = ''
                if dtype == 'int64':
                    sql_type = 'BIGINT'
                elif dtype == 'float64':
                    sql_type = 'FLOAT'
                else:
                    sql_type = 'VARCHAR(255)'
                columns.append(f"{column} {sql_type}")

        else:
            for column, dtype in df.dtypes.items():
                sql_type = ''
                if dtype == 'int64':
                    sql_type = 'INT'
                elif dtype == 'float64':
                    sql_type = 'FLOAT'
                else:
                    sql_type = 'VARCHAR(255)'
                columns.append(f"{column} {sql_type}")

        create_table_q = f"""
            CREATE TABLE {table_name} (
                {', '.join(columns)}
            )
        """
        
        pgcursor.execute(create_table_q)
        print(f"table {table_name} created successfully")
    pgconn.commit()
#insert data into tables
    for table_name, df in dataframes.items():
        modified_columns = [change_column_name(col) for col in df.columns]
        insert_query = """
            INSERT INTO {} ({})
            VALUES ({})
        """.format(table_name, ','.join(modified_columns), ','.join(['%s']*len(df.columns)))
        pgcursor.executemany(insert_query, df.values.tolist())
        print(f'table {table_name} filled successfully')
    success = True
    pgconn.commit()
    

except Exception as error:
    print('Error while connecting to postgresql', error)

finally:
    if pgconn:
        pgcursor.close()
        pgconn.close()
        
if success:
    print('script sending data to postgresql worked correctly')

check
check1
connected
created athletes_successes db
table athlete_events created successfully
table cities created successfully
table countries created successfully
table gdp created successfully
table noc_regions created successfully
table political_regime created successfully
table poverty created successfully
table healthcare_expenditure_gdp created successfully
table obesity_adults created successfully
table population created successfully
table athlete_events filled successfully
table cities filled successfully
table countries filled successfully
table gdp filled successfully
table noc_regions filled successfully
table political_regime filled successfully
table poverty filled successfully
table healthcare_expenditure_gdp filled successfully
table obesity_adults filled successfully
table population filled successfully
script sending data to postgresql worked correctly

In [4]:
import psycopg2
import pandas as pd
from psycopg2 import Error
import os

csv_files = [
    'athlete_events',
    'noc_regions', 
    'gdp',
    'healthcare_expenditure_gdp',
    'obesity_adults',
    'political_regime',
    'poverty',
    'population']
try:
        
    pgconn = psycopg2.connect(
        host = 'postgres',
        user = 'postgres',
        password = 'pass',
        database = 'athletes_successes')

    pgcursor = pgconn.cursor()

    def fetch_data(table_name):
        q = f"SELECT * FROM {table_name}"
        return pd.read_sql_query(q, pgconn)

    dataframes = {file:fetch_data(file) for file in csv_files}

    df = dataframes['athlete_events'].merge(dataframes['noc_regions'], left_on='noc', right_on='noc')
    df.rename(columns={'region':'entity'})

    del dataframes['athlete_events']
    del dataframes['noc_regions']

    dataframes['gdp'].rename(columns={'gdp_per_capita':'gdp'}, inplace=True)
    dataframes['gdp'] = dataframes['gdp'][['entity','year','gdp']]

    dataframes['healthcare_expenditure_gdp'].rename(columns= {'current_health_expenditure__che__as_percentage_of_gross_domesti':'health_exp'}, inplace=True)
    dataframes['healthcare_expenditure_gdp'].drop(columns={'code'}, inplace=True)

    dataframes['obesity_adults'].rename(columns= {'prevalence_of_obesity_among_adults__bmi____30__crude_estimate__':'obesity'}, inplace=True)
    dataframes['obesity_adults'].drop(columns={'code'}, inplace=True)

    dataframes['political_regime'].drop(columns={'code'}, inplace=True)
    mapping = {0: 'closed_autocracy', 1: 'electoral_autocracy', 2: 'electoral_democracy', 3: 'liberal_democracy'}
    dataframes['political_regime']['politica_regime'] = dataframes['political_regime']['political_regime'].replace(mapping)

    dataframes['poverty'].rename(columns={'country':'entity','share_below__1_a_day':'one_dollar', 'share_below__2_15_a_day':'two_dollars', 'share_below__3_65_a_day':'four_dollars', 'share_below__10_a_day':'ten_dollars'}, inplace= True)
    dataframes['poverty'] = dataframes['poverty'][['entity', 'year', 'one_dollar', 'two_dollars', 'four_dollars', 'ten_dollars']]

    dataframes['population'].drop(columns={'code'}, inplace=True)
    dataframes['population'].rename(columns={'population__historical_estimates_':'population'}, inplace=True)
    dataframes['population']['population_20_y_bef'] = dataframes['population'].groupby('entity')['population'].transform(lambda x: x.shift(3))

    dataframes['population'] = dataframes['population'].loc[dataframes['population']['year']>1890]

    def df_merging(dfs):

        for key in dfs.keys():
            merged_df = dfs[key]
            del dfs[key]
            break
            
        for key in dfs.keys():
            merged_df = merged_df.merge(dfs[key], how='outer', on=['entity','year'])
        return merged_df

    countries_situation = df_merging(dataframes)

    columns = []

    for column, dtype in countries_situation.dtypes.items():
        sql_type = ''
        if dtype == 'int64':
            sql_type = 'INT'
        elif dtype == 'float64':
            sql_type = 'FLOAT'
        else:
            sql_type = 'VARCHAR(255)'
        columns.append(f"{column} {sql_type}")

    create_table_q = f"""
        CREATE TABLE countries_df(
            {', '.join(columns)}
        )
    """

    pgcursor.execute("""DROP table IF EXISTS countries_df""")
    pgcursor.execute(create_table_q)
    print("table countries_df created successfully")
    pgconn.commit()


    ### insert data into merged_df

    insert_table_q = """
        INSERT INTO countries_df ({})
        VALUES ({})
    """.format(','.join(countries_situation.columns),','.join(['%s']*len(countries_situation.columns)))

    pgcursor.executemany(insert_table_q, countries_situation.values.tolist())
    pgconn.commit()
    print('script worked properly')    
except psycopg2.OperationalError as e:
    print(f'errror occured {e}')

finally:
    if pgconn:
        pgcursor.close()
        pgconn.close()

/tmp/ipykernel_25/2271858312.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(q, pgconn)

table countries_df created successfully
script worked properly

In [5]:
countries_situation.head()

,entity,year,gdp,health_exp,obesity,political_regime,politica_regime,one_dollar,two_dollars,four_dollars,ten_dollars,population,population_20_y_bef
0,Afghanistan,1789,NaN,NaN,NaN,0.0,closed_autocracy,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1790,NaN,NaN,NaN,0.0,closed_autocracy,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1791,NaN,NaN,NaN,0.0,closed_autocracy,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1792,NaN,NaN,NaN,0.0,closed_autocracy,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1793,NaN,NaN,NaN,0.0,closed_autocracy,NaN,NaN,NaN,NaN,NaN,NaN